/* Put your custom CSS here */

/* Give bottom margin to images */
tr,
th,
td {
    text-align: center;
    vertical-align: middle;
    padding: 0.1em;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: 1px solid #dee2e6;
}
th {
    font-weight: bold;
}
tbody tr:nth-child(odd) {
    background: #f5f5f5;
}
tbody tr:hover {
    background: rgba(66, 165, 245, 0.2);
}

th p{
    margin-bottom: 0px;
}

td p{
    margin-bottom: 0px;
}

.bd-content .section table {
	display: table;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.cell_output {
  --borderWidth: 2px;
  background: #FFFFFF;
  position: relative;
}
.cell_output:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #000000, #333333, #999999);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.widget-box{
    overflow: visible!important;
}
.widget-vbox{
    overflow: visible!important;
}